[2020-02-24 16:16] bergos opened #3 "Implement a SHACL Playground Application"
The current playground application should be updated to use this library + standard RDFJS libraries.

[2020-02-24 16:16] bergos opened #6 "implement playground application"
The current playground application should be updated to use this library + standard RDFJS libraries.

[2020-02-24 16:48] martinmaillard opened #2 "API: ValidationReport"
According to the spec, the validation process should return a graph that contains a `sh:ValidationReport`.

To be compliant, we could just return a `Dataset` that contains the report.

However, the original author of this lib took the decision to return a `ValidationReport` object that makes it easier to use the report (`.conforms()`, `.results()`, etc.). I think that makes sense, but the graph sh

[2020-02-25 13:25] l00mi opened #1 "Function which extracts a JSON based on a SHACL definition"
Loosly based on [UC42](https://www.w3.org/TR/shacl-ucr/#uc42:-constraining-rdf-graphs-to-provide-better-mapping-to-json).

Create a function which takes
1. An entry point (root node) term inside a dataset.
1. SHACL description provided with a term inside a dataset.
and outputs a JSON structure described by the SHACL description.

`.asJson(rootTerm, shaclTerm, shaclDataset)`

[2020-02-25 13:25] l00mi opened #10 "Function which extracts a JSON based on a SHACL definition"
Loosly based on [UC42](https://www.w3.org/TR/shacl-ucr/#uc42:-constraining-rdf-graphs-to-provide-better-mapping-to-json).

Create a function which takes
1. An entry point (root node) term inside a dataset.
1. SHACL description provided with a term inside a dataset.
and outputs a JSON structure described by the SHACL description.

`.asJson(rootTerm, shaclTerm, shaclDataset)`

[2020-02-26 10:05] bergos commented on #2
I would propose to add a *graph pointer* data structure, like it's used in clowface, rdf-path and the loaders. The full pointer structure would be `{ dataset, term, graph }`, but we can skip the `graph` property now and add it later with the rest of the named graph support. The `dataset` property would be then the dataset of the result. The `term` property would be the root of the report.

[2020-02-27 10:53] martinmaillard commented on #1
Would it be possible to provide sample data (turtle), sample shapes (turtle) and the output that you would expect? That would help me a lot.

[2020-02-27 16:07] martinmaillard opened #7 "Removing DASH"
It turns out that all the validation logic resides in the DASH library and is linked to SHACL constraints in the DASH ontology. There is no way to "just remove DASH" without doing significant changes.

Extracting the validation logic from DASH will make the code much simpler and more maintainable, but it will also make it a lot more work to support SHACL-JS in the future if we decide to.

@bergos

[2020-02-27 17:12] #2 closed, assigned to nobody

[2020-03-05 09:05] #7 closed, assigned to nobody

[2020-03-19 14:05] martinmaillard commented on #1
@l00mi Reminder ;)

[2020-03-24 16:53] l00mi commented on #1
The following example is not an attempt to find all edge cases but is a starting point.

It shows the input data (taken from https://www.w3.org/TR/vcard-rdf/) and an example of the Output. I do not know how the SHACL would need to look like to be able to get to this transformation, @bergos do you have any idea on that?

# Input Data
[code]

# Output
[code]

Both structures visualised, left the gra

[2020-03-26 08:57] martinmaillard opened #15 "API"
There are still some things in the API that I would like to change, but I would like your opinion before doing it @bergos.

### 1. The API is very imperative & stateful and I don't see a good reason for it (heritage from Java?)

Currently, the flow looks like:
[code]
And the validator also exposes methods like `loadDataGraph`, `loadShapesGraph`, `showValidationResults`, etc...

I would prefer some

[2020-03-30 10:30] bergos commented on #15
Yes, let's do it more the JS way.

### 1.

I think it should be possible to create instances to pass the options just once and pass the object around. Maybe we can add a static instance later, but I would like to gain experience first, before we add it as a feature.

Have you thought about adding an API like this?:

[code]

### 2.

👍

[2020-03-30 13:08] martinmaillard commented on #15
I like your idea! It totally makes sense to prepare a validator based on a set of shapes and to use it to validate multiple datasets.

I would keep the `SHACLValidator` name instead of `SHACLShape` if you don't mind.

[2020-03-31 08:42] martinmaillard commented on #15
Done

[2020-03-31 08:42] #15 closed, assigned to nobody

[2020-04-06 08:51] martinmaillard opened #23 "`minExclusive`, `maxExlusive` (etc.) handling of non-numerical literals"
`sh:minExclusive`, `sh:maxExlucive`, `sh.minInclusive` and `sh.maxInclusive` should handle any type of `Literal`. Currently, the lib only handles numerical values.

[2020-04-11 15:36] NSeydoux opened #25 "Closed shapes lead to a TypeError"
When trying to validate a closed shape (i.e. with `sh:closed true`), the following error is thrown:
[code]

# To reproduce

Run the following code snippet:
[code]
The `rdf-validate-shacl` version is `0.1.1`.

[2020-04-12 11:42] martinmaillard commented on #25
This error is caused by a conflict between blank node IDs. The proper way to solve this *would be* to use the same data factory throughout the whole process:
[code]

But because of [an issue in N3.js](https://github.com/rdfjs/N3.js/issues/197), it won't solve your problem just yet. I'm working on it ⏳

[2020-04-14 06:42] NSeydoux commented on #25
Thanks ! Does this mean that the issue would disappear altogether if the shape did not include blank nodes at all ?

[2020-04-14 07:19] martinmaillard commented on #25
It should, yes :)

[2020-04-17 15:46] alex-randles opened #28 "SHACL-JS"
Hi,

Two questions, would you have an example I can run? I'm having trouble running the code in the readme.md as I'm unsure of the correct way to pass the shapes and data file into the SHACL validator. I tried the following, passing the file name as a string argument but this wont work.

`const validator = new SHACLValidator('function.ttl')
const report = validator.validate('data.ttl')`

Also does

[2020-04-20 06:42] martinmaillard commented on #28
Hey there,

I will add a working example in the README today, that should help.

No, it only supports SHACL-core at the moment.

[2020-04-20 09:38] ktk commented on #28
@randlea2 regarding SHACL-JS: That is an unofficial spec and it is not using the [RDFJS](http://rdf.js.org/) interface. Holger recently mentioned in a conversation that SHACL-JS extensions should be aligned to RDFJS as well.

Once this is done we could consider implementing it but in the current state it does not make much sense.

[2020-04-20 12:06] #28 closed, assigned to martinmaillard

[2020-04-20 12:45] martinmaillard commented on #28
I added a working example in the README. Not that if your SHACL shapes contain blank nodes, you might encounter an issue (see #25). We are working on it ;)

[2020-04-21 07:37] martinmaillard commented on #25
Upgrading N3.js to 1.3.6 should fix your issue :)

[2020-04-21 07:37] #25 closed, assigned to martinmaillard

[2020-05-06 12:20] martinmaillard opened #30 "ValidationReport: properties should return RDF terms instead of strings"
- `ValidationReport.conforms` -> `boolean`
- `ValidationResult.message` -> `Literal[]` (there can be multiple messages in multiple languages)
- `ValidationResult.path` -> `Term`
- `ValidationResult.focusNode` -> `Term`
- `ValidationResult.severity` -> `Term`?
- `ValidationResult.sourceConstraintComponent` -> `Term`
- `ValidationResult.sourceShape` -> `Term`

[2020-05-25 12:54] #30 closed, assigned to nobody

[2020-06-03 23:01] bergos opened #33 "debug should be included in dependencies not devDependencies"
The `debug` package is used [here](https://github.com/zazuko/rdf-validate-shacl/blob/master/src/validation-engine.js#L3) as part of the main code and not test or developer tool. Therefore it should be a normal dependency and not a dev dependency.

[2020-06-04 10:47] #33 closed, assigned to martinmaillard

[2020-06-28 20:54] persona0591 opened #35 "Feature request: add TypeScript types?"
Hi all!

Thanks for this great library! :)

Would it be possible to add a declaration file with TypeScript types?

[2020-06-29 08:10] ktk commented on #35
Hi,

Thanks for the kind words! We won't do TS declarations in this repo though. For those who want TS definitions we recommend adding support for our libraries at http://definitelytyped.org/

[2020-06-30 07:07] persona0591 commented on #35
Hi Adrian, I understand - thank you!

[2020-06-30 07:07] #35 closed, assigned to nobody

[2020-08-03 17:45] danbri commented on #3
yeah that would be great!

[2020-11-04 09:01] GerwinBosch opened #37 "Validationreport sourceShape is a blank node"
When retrieving the sourceShape it returns a blank-node, it would be nice to get the IRI instead of the blank node label

[code]

[2020-11-04 09:02] GerwinBosch opened #38 "Expose `value` in validationReport"
Hello,

Currently, most values in a report result are exposed. It would be nice to also have a getter for the value

[2020-11-04 15:17] tpluscode commented on #37
Just by looking at the snippet, isn't the blank node the id of a `PropertyShape`?

[2020-11-04 15:22] GerwinBosch commented on #37
I'd expect it to have the `schema:PersonShape` term as the value instead of the blank node

[2020-11-22 06:41] ktk opened #39 "Display sh:message in output"
There is support for [sh:message](https://www.w3.org/TR/shacl/#message) in the specification so one can add human readable explanations of the constraint.

It seems like this message is not passed to the report at the moment. Would be great to have that to improve the understanding of the problem.

[2020-11-22 09:32] tpluscode commented on #39
Please share an example of a shape and invalid graph. We've found that the message does get added but only in some scenarios

[2020-11-22 15:42] ktk commented on #39
Now you mention it I noticed that on that particular node I did not had a message, sorry about!

I was expecting the followup message as it was on a different shape but that's obviously not the case because it did not even get there yet (on that particular shape). So all looks good at the moment, I will re-open in case I find a swallowed mesage.

[2020-11-22 15:42] #39 closed, assigned to nobody

[2020-12-08 11:48] Gnomus042 opened #40 "Customization of default failure messages"
Is there any opportunity for specifying custom failure messages for different types of failures (texts, that are defined in validators-registry.js)? I want to add localization to my project, so I need to replace these messages with translated ones. Thank you in advance for the answer :)

[2020-12-08 13:43] ktk commented on #40
@Gnomus042 You can provide custom labels with `sh:message`, I used that quite a lot recently and it was enough for me to define "proper" texts about what is wrong and you can explicitly translate those, see the [specification](https://www.w3.org/TR/shacl/#message). Is that enough?

[2020-12-08 14:30] Gnomus042 commented on #40
Should be fine, thanks!

[2020-12-08 14:30] #40 closed, assigned to nobody

[2020-12-10 14:31] BenediktHeinrichs opened #41 "Inheritance works only up to one level"
Recently, I have been trying to create shapes which inherit properties from other shapes.

Using this library, the validation went fairly well until I hit the second inherited level.

This means that having a construct of Shape C > Shape B and Shape B > Shape A, the properties of Shape B will be validated, the properties of Shape A however won't.

I tried this construct in the https://shacl.org/pl

[2020-12-14 14:19] BenediktHeinrichs commented on #41
I created a minimal code example for this issue, which can test this problem:

<details>

<summary>index.js</summary>

[code]

</details>

<details>

<summary>my-shapes.ttl</summary>

[code]

</details>

<details>

<summary>my-data.ttl</summary>

[code]

</details>

<details>

<summary>package-lock.json</summary>

[code]

</details>

[2020-12-14 14:30] BenediktHeinrichs commented on #41
It seems to be linked to the function defined here: https://github.com/zazuko/rdf-validate-shacl/blob/master/src/rdflib-graph.js#L19

It finds in the example `SoftwareShape` for `ToolShape` but not `AnalysisSoftwareShape`.

[2020-12-15 14:11] martinmaillard commented on #41
Hey there,
Thanks for the report.

I'm not really sure if inheritance between shapes is defined by SHACL. Do you know anything about that @bergos @tpluscode ?

[2020-12-15 14:30] martinmaillard commented on #37
From my understanding of the SHACL spec, it would be wrong to point to the parent `NodeShape` instead of the `PropertyShape` that raised the invalid result. If you want a URI, the best way is to give a URI to your `PropertyShape`:
[code]

[2020-12-15 14:31] #37 closed, assigned to nobody

[2020-12-15 14:33] martinmaillard commented on #1
I'll close this, as it does not really fit the scope of this library. By the way, I already have some version of this function in another project ;)

[2020-12-15 14:33] #1 closed, assigned to nobody

[2020-12-16 06:47] HolgerKnublauch commented on #41
The example uses Implicit Class Targets, see https://www.w3.org/TR/shacl/#implicit-targetClass - the instance of AnalysisSoftwareShape will be validated against the AnalysisSoftwareShape class as shape. The rather cryptic terms "SHACL shape" and "SHACL instance" mean that rdfs:subClassOf triples must be walked up implicitly. Consider any instance of AnalysisSoftwareShape also an instance of Softwa

[2020-12-16 08:24] martinmaillard commented on #41
Thanks Holger, that's very helpful. I didn't know about the "Implicit Class Targets" feature, which opens up a lot of possibilities :)

[2020-12-16 09:08] martinmaillard opened #43 "Infinite loop with cyclic rdfs:subclassOf relationships"

[2020-12-17 21:51] kad-beekw opened #44 "Regular expressions with Unicode"
Thanks for maintaining this great library!

# Observation

I'm unable to properly validate place names using `sh:pattern`.  Place names may include spaces, single quotes, hyphens, and some non-ASCII Unicode characters.  Examples of place names that should succeed are `'s-Gravenhage`, ` The Hague`, and `Köln`.

If I understand the somewhat cryptic XSD standard ([link](https://www.w3.org/TR/xmlschem

[2020-12-18 08:51] tpluscode commented on #44
The pattern is but a simple escaped regex. You need not look into the XSD escaping rules, which I do not see mentioned by [SHACL spec](https://www.w3.org/TR/shacl/#PatternConstraintComponent)

This totally works:

[code]

[2020-12-21 08:55] kad-beekw commented on #44
@tpluscode Thanks for your response!

I see the following trail when I look through the standard:
  1. The SHACL standard refers to SPARQL 1.1 for the regular expression functionality: https://www.w3.org/TR/shacl/#PatternConstraintComponent
  2. The SPARQL 1.1 standard refers to XPath 3.1: https://www.w3.org/TR/sparql11-query/#func-regex
  3. The XPath 3.1 standard refers to XSD 1.0: https://www.w

[2020-12-21 09:49] tpluscode commented on #44
I must admit I am a little confused myself, not having dug deep before.

You seem correct about how you followed you nose from SHACL to XSD specs. Section [7.1 of XPath](https://www.w3.org/TR/xpath-functions/#regex-syntax) seems to suggest that XSD 1.1 should be used, does it?

That said, the examples in SHACL spec to use the simple escaping (it's pretty much just the backslash). And FWIW the sect

[2020-12-21 13:20] kad-beekw commented on #44
@tpluscode Thanks, XSD 1.1 indeed seems to be the intended standard for regex in SHACL (and SPARQL).  I do not have enough knowledge of XSD to determine whether `\S` is also valid.  When I look at the XSD 1.1 standard I can only find the `charProp` grammar rule using within `\p{...}` or `\P{....}` notation:

[code]

Maybe `\p{S}` is commonly written as `\S` in SPARQL?  If so, this may be a de fact

[2020-12-21 14:16] MPvHarmelen opened #45 "Use of '<' character in report messages is confusing."
In the example below, the validator prints `Value is not < value of <http://schema.org/deathDate>`. The message is correct, however, the use of the character `<` tends to cause confusion, as the same characters, `<` and `>`, are also used to delimit IRIs. Would it be possible to use the words `less than` or `greater than` instead?

[code]

[2021-01-01 19:28] wouterbeek opened #46 "How to validate literals based on their datatype IRI?"
I do not understand how literals should be validated based on their datatype IRI.  I make the following observations:

1. For some literals specifying the datatype IRI with `sh:datatype` seems to suffice in order to also check their lexical form.  An example of this is `xsd:boolean`, where lexical form `"-false"` is currently not accepted because the minus sign is not part of the syntax for Boolea

[2021-01-01 19:35] tpluscode commented on #46
Could you provide the above cases complete with shapes and sample data?

Also, please check with [SHACL playground](https://shacl.org/playground/) to see what are the results there

[2021-01-01 19:50] wouterbeek commented on #46
@tpluscode I have not done anything complicated yet.  I think that even the most simple things like the XSD literals do not work.  I can still share my files of course :-)

This is my data file:

[code]

And this is my patterns file:

[code]

[2021-01-02 10:59] wouterbeek commented on #46
I have added a couple more example.  This is mostly a copy/paste from the XSD standard.  I have replaced backward slashes with double backward slashes, since this seems to be required.  Since I do not know the Regex grammar, I do know whether the Regexes are valid (the library does not give feedback when a Regex cannot be processed).

This is my patterns file:

[code]

This is my data file:

[code

[2021-01-04 08:45] bmark92 opened #47 "Validation result does not include a sh:resultMessage (and sometimes sh:value)"
We encountered two small bugs:
1) the validation result does not include a sh:resultMessage when a ClassConstraintComponent is violated.

2) In some cases, the validation result also does not include a sh:value for violations of ClassConstraintComponent. (Some validation results do emit sh:value; maybe this only works for literals ATM)

We made a minimal working example of the issues. To make it w

[2021-01-04 08:47] martinmaillard commented on #41
Fixed in #42

[2021-01-04 08:47] #41 closed, assigned to nobody

[2021-01-04 14:10] tpluscode commented on #46
After looking at your examples in the SHACL playground and the spec I have a few observations:

1. Boolean acts wrong, where the library treats the truthiness of the literal. Thus `0` becomes `false` and pretty much anything else becomes `true`. We probably inherited that issue too
2. You got those regex from  W3C XML Schema? I think the whitespace is a problem in some. For example, the double exp

[2021-01-15 22:29] pietercolpaert opened #48 "[Feature request] Extracting shapes from triples"
I’m looking for a library that can help me to extract triples adhering to a SHACL shapes from an array of triples.

Could look like this:

[code]

Use case issue: https://github.com/TREEcg/event-stream-client/issues/2

[2021-01-16 22:58] bergos commented on #48
I think there are two different ways to approach this:

a) A separate method for the `SHACLValidator`. I would propose to use a more "graph style" vocabulary. Maybe `coverage`, cause the result would be the coverage of all triples when traversing the graph according to all SHACL nodes.

b) Add a `coverage` property to the `ValidationResult`. The `validate`  method of the `SHACLValidator` returns a

[2021-01-17 09:12] tpluscode commented on #48
From the perspective of SHACL I think the key step is determining the Focus Nodes which conform shapes. Once you know that it is simple to extract the subgraph by walking the Property Shapes.

For starters, I would propose adding only the first step to the library. In my mind that would be a `TermMap<Term, Term[]>` of shapes and conforming nodes (or the other way round, don't know which makes most

[2021-01-18 07:52] pietercolpaert commented on #48
I like the ideas.  Some thoughts:
 -  I don’t think this task actually requires validation though: I may want to be forgiving and also get invalid objects.
 - Indeed, when you know the Focus Node the task becomes easier. When dealing with a collection for which all members adhere to a shape, you do know these focus nodes, which is what we do in the use case at https://github.com/TREEcg/event-strea

[2021-01-19 16:11] martinmaillard commented on #45
That's a good point. I'll probably make the change.

[2021-01-19 16:14] martinmaillard commented on #47
I would not qualify these as bugs since `sh:resultMessage` and `sh:value` are optional in the spec.

Some of the constraints currently don't have a default validation message, we inherited that from the original implementation. But if we find a good generic message for them, we can totally add it. Suggestions welcome :)

[2021-01-19 16:16] martinmaillard commented on #48
This seems like a very useful feature: I actually implemented something somewhat similar in a project. But I wonder if it really belongs in this library.

[2021-01-19 16:25] martinmaillard commented on #46
This library already uses [rdf-validate-datatype](https://github.com/zazuko/rdf-validate-datatype) to validate the lexical correctness of literals. So if something gets validated wrong, it's probably a bug.

[2021-01-19 17:44] ktk commented on #48
To give some more context, this issue started on [Twitter](https://twitter.com/pietercolpaert/status/1350152569285472260) and @bergos proposed to do an issue here. But I also was asking myself if the library is the right place to do it.
As in we should reflect that before it becomes a "stable" feature in here. Maybe putting it somewhere separate is a good idea.

[2021-01-19 17:48] tpluscode commented on #48
I'm re-reading the comments. Is it actually something different from what I proposed above?

[2021-01-19 18:31] #45 closed, assigned to nobody

[2021-01-20 13:58] pietercolpaert commented on #48
Don’t think so! I’m just a bit puzzled about who should do what now!

[2021-02-03 07:23] #47 closed, assigned to nobody

[2021-02-19 14:50] MPvHarmelen opened #51 "New release"
Hi! I'm really happy with the fix in #49, but cannot use it at the moment because it is not included in a release yet. Would you mind creating one?

Thanks a lot!

[2021-02-22 08:07] martinmaillard commented on #51
I just published 0.2.6 to include this change :)

[2021-02-22 08:07] #51 closed, assigned to nobody

[2021-03-03 13:02] spetrac opened #52 "Custom Factory implementation not fully supported"
I am using a custom factory implementation and I thought, if I can supply the factory as an argument, it would be used throughout the module. The factory uses the standard rdf/js specified interface, but it only supports elements created by itself! That is the reason that my implementation throws an error, because clownface tries to use its own created nodes to access my datasets:

[code]

The err

[2021-03-09 11:01] martinmaillard commented on #52
The provided factory is used to create any terms that come out of the library. But internally, it's possible that some terms created with another factory are used. I think if you follow the RDF/JS spec, these terms should be compatible.

[2021-03-30 18:11] tpluscode opened #53 "Weird RDF list returned as validation result focusNode"
I don't understand but there seems to be a bug in the validation results. Here's an example shapes graph:

[code]

and data graph

[code]

When validated together, they return a bunch of results, some of which have the `sh:focusNode` looking like

[code]

What's with the list? It is by no means the "focus node that has caused the result" but also not completely random, given that it's clearly the

[2021-03-31 06:16] martinmaillard commented on #53
I could not reproduce that. The blank node clash hypothesis seems very likely to me. Are you using the same factory for the data and shapes datasets? Can you maybe provide a code sample?

[2021-03-31 07:39] tpluscode commented on #53
Yes, it definitely if the shapes and data graphs getting mixed up and if they have blank nodes with same label, it looks as though they are used in place of one another. Here's a minimal example: https://runkit.com/embed/yxnja9rhg077 (run with node 13+)

[2021-04-07 14:38] tpluscode opened #56 "False negative when validating XoneConstraintComponent"
## shapes graph

[code]

## data graph

[code]

## expected behaviour

The data should be valid.

## actual behaviour

A violation is reported by `sh:XoneConstraintComponent`. It goes away when `sh:minCount` is uncommented

## other

See [this reply](https://groups.google.com/g/topbraid-users/c/-DAvPssZL1s/m/mc4gvOdLCgAJ) by @HolgerKnublauch and this exact example in [Shaperone playground](https:/

[2021-04-07 14:51] tpluscode commented on #56
Oh wait, maybe this is correct after all. 🤦

This is exactly what Holger wrote

which is exactly the Xone violation

[2021-04-10 16:31] #23 closed, assigned to nobody

[2021-04-14 15:16] martinmaillard commented on #56
Can I close this?

[2021-04-14 15:17] #56 closed, assigned to nobody

[2021-04-14 15:18] martinmaillard opened #58 "Track which quads are visited during validation"
Provide a way to know which quads were visited during the validation process.

[2021-04-14 15:19] martinmaillard opened #59 "Validate a specific target node with a specific shape"
Provide a way to specify an entry target node and shape for the validation. The result is similar to injecting a temporary `sh:targetNode` on a given shape and start the validation for this shape.

[2021-04-14 15:21] tpluscode commented on #58
The idea I proposed would to add an option to return `[] sh:severity sh:Info` results for every visited location in the data graph.

Might get quite verbose though

[2021-04-18 15:26] tpluscode opened #60 "Shape inheritance only works when single dataset is used"
The validator supports shape hierarchies using `rdfs:subClassOf` but they are not applied correctly if the data graph and shapes graph are separate instances of `Dataset`

Consider this [example](https://runkit.com/embed/8tb3fbh5v4k2).

The result is false-positive, even though the validated instance should be validated as `foaf:Agent`.

The correct results is returned if a single dataset is popul

[2021-04-19 06:58] martinmaillard commented on #60
For inheritance to work, your "ontology" (`rdfs:subClassOf`) must be included in the "data" dataset. I think it makes sense, doesn't it?

[2021-04-19 07:12] tpluscode commented on #60
No, I don't think it does. Class hierarchy is not property of data itself but of the its meta model (classes).

Holger suggest to [run the validation over the union graphs](https://groups.google.com/g/topbraid-users/c/vWUq43hgruw) which does work already as I mention above. The only problem is when the two RDF/JS datasets are separated.

I would consider merging them in memory (maybe opt-in, to pr

[2021-04-20 06:46] martinmaillard commented on #60
I like the idea of merging the datasets inside the validator, but I'm afraid of the consequences, mostly regarding blank nodes.

We're back to the same considerations: if we can agree that users should not expect blank nodes to keep their ID in the final "validation report" dataset, changing these IDs during validation shouldn't be an issue.

[2021-04-20 06:51] tpluscode commented on #60
I think blank nodes will not be a problem if the "merging" happened in named graphs inside the joint dataset.

The only requirement would be address them as `(bnode, graph)`. If clownface is used, that would already be taken care of by using pointers to specific graph

[2021-04-27 08:34] martinmaillard commented on #60
I tried to evaluate how easy this change would be and I think it will require a major refactoring: mostly passing clownface pointers around instead of nodes without context.

[2021-04-27 09:11] #52 closed, assigned to nobody

[2021-05-01 14:50] ktk commented on #3
Implemented here https://zazuko.github.io/shacl-playground/, code: https://github.com/zazuko/shacl-playground

[2021-05-01 14:50] #3 closed, assigned to tpluscode

[2021-05-07 08:01] tpluscode opened #63 "Improve validation message of `sh:xone`"
I would propose tweaking the detail validation result message when an XONE constraint is violated

Currently it produces no message at all. Without even knowing which sub shapes are conflicted, it's quite difficult to get a grip on what is wrong.

I have a few ideas

**First**, could be to enumerate all of the `sh:xone` and produce a message like

Where `A`, `B` and `C` would be the `rdfs:label` o

[2021-05-10 06:33] martinmaillard commented on #63
I like the idea. We should probably do the same for `sh:and` and `sh:or`.

[2021-05-11 14:55] sroze opened #64 "`sh:closed` with `sh:alternativePath`"
**What's the issue?**
When using a closed shape and properties with an alternative path, I always get a violation because the predicate is not allowed.

**What's expected?**
I am expecting predicates `schema:ROLE_CAREGIVER` to not be violations of the closed shape.

**Example SHACL**
[code]

**Playground example**
https://s.zazuko.com/JrT3P

---

Is that a real bug or am I misunderstanding SHACL?

[2021-05-11 15:00] tpluscode commented on #64
It appears to behave the same in the original playground, which could mean it's by-design (cc @HolgerKnublauch)

As a workaround, you can add `sh:ignoredProperties` to your shape

[code]

[2021-05-11 22:36] HolgerKnublauch commented on #64
Yes this is by design. sh:closed is really simplistic and only looks at the named properties that are the values of sh:path of the directly associated property shapes. See https://www.w3.org/TR/shacl/#ClosedConstraintComponent (which is very brief, like many specifications are). Path expressions are not evaluated.

There are other limitations of sh:closed, which is why we have added http://datasha

[2021-05-14 06:36] #59 closed, assigned to martinmaillard

[2021-05-16 11:56] sroze commented on #64
@tpluscode this would mean that the `sh:node` wouldn't be validated though if I understand correctly.

@HolgerKnublauch Oh interesting, I didn't know. My understanding is that this isn't supported by this validator though but great to know!

[2021-05-17 07:45] tpluscode commented on #64
Wasn't sure, but apparently it will: https://s.zazuko.com/25pXUe :)

[2021-06-30 16:06] ivan-kovatchev opened #66 "Superfluous validation error when target node doesn't exist in data graph"
### What's the issue?
A violation is raised when a node that doesn't exist in the data graph is used as an object of `sh:targetNode`.

### What's expected?
I expected the validation report to conform, as the target node doesn't exist in the data graph. This is based off [this part of the SHACL spec](https://www.w3.org/TR/shacl/#targets):

### Playground example

In [my first example](https://s.zaz

[2021-07-05 08:07] #64 closed, assigned to nobody

[2021-07-05 08:09] #46 closed, assigned to nobody

[2021-07-29 15:38] holycrab13 opened #67 "Validation report message not included when using recursive shapes"
Validation report message not included when using recursive shapes. Tested with sh:and

Example:
[code]

Validation failure due to the PropertyShape will not give access to the error message.

[2021-08-04 13:37] holycrab13 opened #68 "Unsure whether dash and SPARQL selects are implemented"
Is targeting via SPARQL implemented? If so, what might I be doing wrong?
My Shapes Graph:
[code]

My Data Graph

[code]

This yields SUCCESS while I am trying to make this fail - I want to verify that all objects are either blanks or IRIs (no Literals allowed).

I have read that SPARQL-based Constraints are not implemented, was unsure about SPARQL-based Targets

[2021-08-06 15:35] ktk commented on #68
I don't think that's implemented, which spec is that?

[2021-08-13 18:18] wouterbeek opened #69 "Lift syntactic restrictions on property path notation"
### User story

- [Who] As a user of this SHACL library,
- [What] I want to be able to use IRIs to encode complex property paths,
- [Why] So that I can use SHACL to validate my data in contexts where blank node Skolemization is applied.

### Background

SHACL 1.0 puts syntactic restrictions on how complex property paths should be encoded.  It is strange that such syntactic restrictions are mandate

[2021-08-19 12:35] wouterbeek opened #70 "sh:hasValue does not work inside sh:or"
When I specify `sh:hasValue` inside an `sh:or`, I have correct data that does not validate.

The following Turtle snippet should validate successfully, but currently results in a violation.  My reasoning is as follows:
  - `id:a` has value `id:b` for property `def:p`, so
  - `sh:hasValue id:b` should be satisfied for `id:a`, so
  - `sh:or ( [ sh:hasValue id:b ] [ sh:hasValue id:c ] )` should be sa

[2021-08-25 07:08] martinmaillard commented on #70
The following seems to work:
[code]

I need to investigate to understand why your example doesn't work.

[2021-08-25 07:32] martinmaillard commented on #70
I think I understand.

Your shape says **each `def:p` property must have either value `id:b` or `id:c`**. Your instance `id:a` doesn't conform because it has `def:p id:d`, which doesn't conform to this definition.

[2021-08-25 10:11] thomasdegroot18 commented on #70
As I understand it, is that the blankNodes in the `sh:or` are of type `sh:NodeShape` and not of type `sh:propertyShape` source: (https://www.w3.org/TR/shacl/#dfn-node-shape). This changes the validation, as we are no longer validating the values in the context of the property def:p. But we are now validating the individual value nodes `id:b` and `id:d` for the `sh:hasValue`. For node shapes the va

[2021-08-25 10:35] wouterbeek commented on #70
Thank you @martinmaillard and @thomasdegroot18  !

Especially the following sentence from the standard should be taken to heart:

When an issue occurs we must first ask ourselves the question whether there is an explicit `sh:path`.  If this is not the case then we have a node shape and not a property shape.  And then work from there.

[2021-08-25 10:37] #70 closed, assigned to nobody

[2021-09-15 12:05] pietercolpaert opened #71 "Export property path matching"
Also for other use cases than validation I want to be able, from an array of quads, extract the rdfjs.Terms that match the property path:

[code]

I assume the function on L61 in https://github.com/zazuko/rdf-validate-shacl/blob/master/src/property-path.js#L61 comes pretty close to what I need. Can this functionality be exported separately in this NPM package?

[2021-09-15 13:38] tpluscode commented on #71
I think you might be interested in [clownface-shacl-path](https://npm.im/clownface-shacl-path)

[2021-09-15 15:02] #71 closed, assigned to nobody

[2021-09-23 07:31] LaurensRietveld opened #73 "JS iterable error when using SHACL model"
Depending on the structure of your SHACL shape and its list definitions, you may get obscure errors such as this:

[code]
This seems to be caused by the clownface `list()` implementation returning `null` instead of an iterable (see [here]((https://github.com/zazuko/clownface/blob/479607facdc687b4b5a006bba8faa80445e9e9c2/lib/Clownface.js#L136))

I would have expected no error, or a more informative

[2021-09-23 07:33] tpluscode commented on #73
It would be valuable to see an example.

tl;dr; the spec requires values of certain properties to be lists. If it's any of those cases, we'd likely. just trade the error message for something more informative

[2021-09-28 12:45] tobiasschweizer opened #74 "Code Snippet in README"
The code snippet in the README throws an error:

This can easily be solved by putting the code in an async function (e.g., main) and calling it right after.

I could submit a small PR. What do you think?

[2021-09-30 08:23] ktk commented on #74
yes please!

[2021-10-01 06:37] tobiasschweizer commented on #74
ok, will do :-)

[2021-10-01 07:03] tobiasschweizer commented on #74
@ktk I opened #75

Since I work with JSON-LD data, I added the following method for convenience (dep: jsonld):

[code]

If you think that's useful, I'd be glad to contribute that too.

[2021-10-01 09:52] #74 closed, assigned to nobody

[2021-10-05 19:52] wouterbeek commented on #73
I was able to reproduce this with the following MWE:
[code]

[2021-11-10 14:51] martinmaillard commented on #68
This is currently not supported. Closing.

[2021-11-10 14:51] #68 closed, assigned to nobody

[2021-11-10 15:15] #38 closed, assigned to nobody

[2021-11-29 15:10] #66 closed, assigned to nobody

[2021-12-13 14:50] Tomas2D opened #83 "Wrong pair constraint comparison using lessThan / lessThanOrEquals"
Using property constraint validation with `sh:lessThan` or `sh:lessThanOrEquals` I get wrong result in Zazuko SHACL Plaground ([https://s.zazuko.com/d56u3](https://s.zazuko.com/d56u3)).

From my observation, it looks like only the first digit is being compared. For example, if the value of `ex:candidates_active` is `65`, there is no validation error which is obviously fine, but when I change to `8

[2021-12-13 15:42] martinmaillard commented on #83
I just found this comment in the term comparison function: `// TODO: Does not handle numeric or date comparison`

It's been in the library from the beginning and somehow got overlooked. I'll label this issue as a bug.

[2022-01-19 15:01] #83 closed, assigned to nobody

[2022-01-27 10:12] tpluscode opened #89 "Add warning result when maxErrors is reached"
I suppose it would be as simple as a top-level result similar to

[code]

Unfortunately, according to [paragraph 3.6.2 of the spec](https://www.w3.org/TR/shacl/#results-validation-result), `sh:focusNode` and `sh:sourceConstraintComponent` are also required. To conform to this requirement we might add some new term to identify the constraint, like `ex:MaxErrorConstraintComponent`. I have no (good)

[2022-02-01 07:35] #69 closed, assigned to nobody

[2022-02-25 16:36] tpluscode opened #90 "Provide a CLI"
Would it be nice to have a simple CLI provided by this package. I would propose a simple interface which would load data+shapes to memory and offer at least two output "modes"

**Standard mode**

Writes the validation report to standard output, optionally using type specified in `--format`

[code]

Without `--format` it would send n-quads so that the report can be piped easily to other tools

[cod

[2022-02-25 16:37] tpluscode commented on #90
Given additional dependencies might go for a separate package? `rdf-validate-shacl-cli` is a big long but logical?

[2022-02-28 07:25] martinmaillard commented on #90
An option is to revive and improve https://github.com/zazuko/rdf-validate-cli to incorporate SHACL

[2022-02-28 07:37] tpluscode commented on #90
Thank you for that. I like this idea

[2022-04-20 09:53] Rdataflow commented on #67
It looks to me this one issue has been fixed by https://github.com/zazuko/rdf-validate-shacl/commit/5e4b3757eb1a883dd9b1537ed24b24f24892e6cf

[2022-04-29 10:51] tpluscode commented on #90
Another idea: add `--data-graph` and `--shapes-graph` options. This would allow loading a trig/n-quads file and selecting graph(s) for validating portion of the data

All those options should be allowed multiple times. For example

[code]

[2022-08-07 09:33] MarinusVonhof opened #99 "Memory issue with nested results"
The validation of large datasets can cause memory-problems. The object nestedResult of class ValidationEngine is not cleaned up when validation of a node is successful.
Adding a cleaning action in createResultFromObject() solved the problem for me:

    // Validation was successful. No result.
    if (!validationResultObj) {

      // 20220806/mv: Clean the nested results of the report-children

[2022-10-03 19:37] mightymax opened #100 "Validation error when using correct lexical value for xsd:gYear"
When instance data contains a [xsd:gYear](https://www.w3.org/TR/xmlschema11-2/#gYear) literal in where the year value contains more than 4 digits, and a SHACL PropertyShape uses a [DatatypeConstraintComponent'](http://www.w3.org/ns/shacl#DatatypeConstraintComponent'), the SHACL validation report incorrectly marks this value as an error:  with this message:
[code]

The [W3C XML Schema Definition La

[2022-10-05 20:44] tpluscode commented on #100
Published with v0.1.5 of rdf-validaate-datatype

[2022-10-05 20:44] #100 closed, assigned to nobody

[2022-10-06 09:51] mightymax commented on #100
Thanx for fixing this on such short notice! Any insight on when a new [package](https://www.npmjs.com/package/rdf-validate-shacl) will be published?

[2022-10-06 09:54] tpluscode commented on #99
Hey. Thank you fo reaching out.
I would like to hear how big your data and shapes graphs are. Are you able to provide an example?

[2022-10-06 09:57] tpluscode commented on #100
Of course. `0.4.5`, out now

[2022-10-07 13:55] StichtingRIONED commented on #99
Hello. Yes ok, I'll send you some example-files.
They are rather big. For testing-purpose that's ok, but I don't think Javascript is suitable for these large datasets.
A full run takes about 6 hours!

[2022-10-07 14:09] MarinusVonhof commented on #99
Hi,

You can find the examples here:  [Pictogram example_shacl.zip]  example_shacl.zip<https://marivon-my.sharepoint.com/:u:/g/personal/marinus_vonhof_marivon_nl/EZPTxdiZNuNDlgEyHJqQkI4BwyFqTkHFBzl_t5GhNIl7cg?e=9RRraE>.
Please keep it for yourself, it contains real (but public, its legal) data.

Best regards,
Marinus

Van: Tomasz Pluskiewicz ***@***.***>
Verzonden: donderdag 6 oktober 2022 11:55
A

[2022-11-25 08:33] Abrom8 opened #103 "Value does not have datatype error with sh:datatype xsd:anyURI"
Properties with `sh:datatype xsd:anyURI` always produce `Value does not have datatype <http://www.w3.org/2001/XMLSchema#anyURI>` error.

I created a minimal example for the https://shacl-playground.zazuko.com/ playground.

Shapes Graph:
[code]

Data Graph:
[code]

[2022-11-25 12:30] tpluscode commented on #103
Thank you for reporting.

In your case, the error is in fact correct because the value is a [plain literal](https://s.zazuko.com/3nhigUw). The validation `sh:datatype` is strict in that it requires a literal to have an exact matching datatype. Compare with [other SHACL implementations](https://rdfshape.weso.es/shaclValidate?data=%40prefix%20sh%3A%20%3Chttp%3A%2F%2Fwww.w3.org%2Fns%2Fshacl%23%3E%20.

[2022-11-25 12:30] #103 closed, assigned to nobody

[2022-11-25 12:33] tpluscode commented on #103
On a related note, the actual URI is not actually validated for correctness. One might argue that it should (we do that for numeric values and dates) but none of the other implementations available on https://rdfshape.weso.es/shaclValidate do that either...

[2022-11-25 13:05] Abrom8 commented on #103
Thank you! The example with the `@context` helped a lot! 👏

[2022-11-26 00:52] MuhammadShafaatKhan opened #104 "SHACL SPARQL constraints support"
Is adding SHACL SPARQL constraints support into this library, currently on the roadmap of the development?

[2022-11-26 08:46] tpluscode commented on #104
Hello @MuhammadShafaatKhan13. SHACL SPARQL is definitely something that we would like to have.

The biggest blocker right now is an in-memory implementation of SPARQL queries. The only working option that I know of is Comunica, but that would be very heavy, especially for the browser. We have hopes for [Callidon/sparql-engine](https://github.com/Callidon/sparql-engine) but it is not yet compatible